<html>

	<head>
	<title>Article Search</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>

	<body>
	  <h1>Search</h1>
	  <hr>
	  <!-- KEYWORD SEARCH -->
	  <form method="GET" action="/search_keyword">
	  	<h1>Keyword Search: </h1>

	    <select name ="word">
	      {% for word in keywords %}
	        <option value="{{ word }}">{{ word }}</option>
	      {% endfor %}
	    </select>

	    <!-- <input type="text" name="query" required> --> <input type="submit" value="Search">
	  </form>
	  <hr>

	  <!-- CATEGORY SEARCH -->
	  <form method="GET" action="/search_category">
	    <h1>Category Search: </h1>
	    <select name ="category">
	      {% for category in categories %}
	        <option value="{{ category }}">{{ category }}</option>
	      {% endfor %}
	    </select>

	    <!-- <input type="text" name="query" required> --> <input type="submit" value="Search">
	  </form>

	  <hr>
	</body>
</html>
