<html>
	<head>
	<title>General User Register</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
<body>
<div align = "center">
	<h2>General User Register</h2>
	<form method="post" action="/register">
		<table>
			<tr>
				<td>Account</td>
			</tr>
			<tr>
				<td><input type="integer" name="account_num" placeholder="arbitrary numbers"></td>
			</tr>			
			<tr>
				<td>Username</td>
			</tr>
			<tr>
				<td><input type="text" name="username" placeholder="username for login"></td>
			</tr>
			<tr>
				<td>Password</td>
			</tr>
			<tr>
				<td><input type="text" name="password" placeholder="password for login"></td>
			</tr>
			<tr>
				<td>Phone</td>
			</tr>
			<tr>
				<td><input type="text" name="phone"></td>
			</tr>			
			<tr>
				<td align = "center"><input type=submit value="Sign up"></td>
			</tr>
		</table>
	</form>
	<p><a href = "{{url_for('register')}}"> Register as Scholar </a></p>
	<p><a href = "{{url_for('index')}}"> Home </a></p>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}
</div>
</body>
</html>

