<html>
	<head>
	<title>General User log in</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
<body>
<div align = "center">
	<h2>General User log in</h2>
	<form method="post" action="/signinG">
		<table>
			<tr>
				<td>Username</td>
			</tr>
			<tr>
				<td><input type="text" name="username"></td>
			</tr>
			<tr>
				<td>Password</td>
			</tr>
			<tr>
				<td><input type="text" name="password"></td>
			</tr>
			<tr>
				<td>Phone</td>
			</tr>
			<tr>
				<td><input type="text" name="phone"></td>
			</tr>			
			<tr>
				<td align = "center"><input type=submit value="Login"></td>
			</tr>
		</table>
	</form>
	<p><a href = "{{url_for('register')}}"> Register as Scholar </a></p>
	<p><a href = "{{url_for('registerG')}}"> Register as General User </a></p>	
	<p><a href="{{ url_for('index') }}">Home</a></p>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}
	{% endif %}
</div>
</body>
</html>

